.avatar-small {
  position: relative;
  // background-color: red;
  width: 8rem;
  height: 6rem;

  &__container {
    transform: scale(0.2);
    position: absolute;
    right: -9.2rem;
    top: -11.5rem;
  }

  &__username {
    position: absolute;
    bottom: -2rem;
    width: 100%;
    text-align: center;
  }
}
