.settings-modal {
  font-family: "Lato";
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom right,
    rgba(38, 38, 46, 0.5),
    rgba(38, 38, 46, 0.8)
  );
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    background-color: #444444;
    width: 60rem;
    // height: 40rem;
    border-radius: 9px;
    border: 1px solid #777;
    color: white;
  }

  &__heading {
    padding: 3rem 3rem;
    border-bottom: 1px solid #777;
  }

  &__settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
  }

  &__randomize-icon {
    padding-top: 0.6rem;
    display: flex;
    justify-content: center;
  }
}
