.rooms {
  background-color: #33383f;
  color: #a1a8b5;
  padding: 0;
  min-width: 20rem;

  &__title {
    padding: 1rem 2rem;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    cursor: pointer;
    padding: 0.5rem 2rem;
    transition: all 0.2s;

    &:hover {
      background-color: lighten(#33383f, 5);
    }
  }

  &__icon {
    margin-right: 1rem;
  }
}
