.app {
  height: 100vh;

  &__main {
    display: flex;
    height: calc(100vh - 72px);
  }

  &__heading {
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }

  &__current-room {
    flex: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
