.current-room {
  background-color: #f6efe8;
  height: calc(100vh - 50px);
  position: relative;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    margin-bottom: 3rem;
    // justify-content: space-between;

    &--left {
      display: flex;
      align-items: baseline;
      margin-right: auto;
    }

    &--right {
    }
  }

  &__title {
    margin-right: 1rem;
  }

  &__users,
  &__users-icon {
    color: #a3a8b5;
    margin-right: 0.5rem;
  }

  &__messages {
    list-style-type: none;
    // max-height: 85vh;
    overflow: auto;
    margin-bottom: auto;
  }
}

.form {
  display: flex;
  width: 60vw;
  padding: 0 2rem;

  &__input {
    padding: 1rem 2rem;
    font-family: inherit;
    margin-right: 1rem;
    font-size: 2rem;
    border-radius: 5px;
    border: 2px solid #611f69;
    flex: 1;

    &:active,
    &:focus {
      border: 2px solid #611f69;
      outline: none;
    }
  }

  &__button {
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 2rem;
    background-color: #611f69;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken(#611f69, 3);
    }
  }
}

.search-form {
  display: flex;
  width: 30rem;
  // padding: 0 2rem;
  position: relative;

  &__input {
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 2rem;
    border-radius: 5px;
    border: 2px solid #611f69;

    &:active,
    &:focus {
      border: 2px solid #611f69;
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    right: 3rem;
    top: 1.8rem;
  }
}
