.current-room {
  background-color: #f6efe8;
  height: 100vh;
  position: relative;
  padding: 1rem 2rem;

  &__header {
    display: flex;
    align-items: baseline;
    margin-bottom: 3rem;
  }

  &__title {
    margin-right: 1rem;
  }

  &__users,
  &__users-icon {
    color: #a3a8b5;
    margin-right: 0.5rem;
  }

  &__messages {
    list-style-type: none;
  }
}

.form {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  width: 60vw;
  padding: 0 2rem;

  &__input {
    padding: 1rem 2rem;
    font-family: inherit;
    margin-right: 1rem;
    font-size: 2rem;
    border-radius: 5px;
    border: 2px solid #611f69;
    flex: 1;

    &:active,
    &:focus {
      border: 2px solid #611f69;
      outline: none;
    }
  }

  &__button {
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 2rem;
    background-color: #611f69;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken(#611f69, 3);
    }
  }
}
